*{
    margin: 0%;
}
/* Give your page a fun background color */
body {
    background-color: #83A1CD;
}
/* Make the header and footer a different color from the background */
footer, header {
    background-color: #b491c8;
}

footer{
    margin-top: 2em;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

h2{
    margin-top: 1em;
}
/* Make your p tag a different color and italic */
p {
    color: #52307c;
    font-style: italic;

}
/* Put a border around your image */
img{
    border: double 5px #52307c;
    margin: 2em 2em 0em 2em; 
}

/* Change the font-family of your list */
ul {
    font-family: 'Silkscreen', cursive;
}